<h1 class="text-center text-2xl mb-10">Product Categories</h1>

<div class="flex justify-evenly">
    <% @categories.each do |category| %>
        <div class="bg-white border-4 border-blue-200 rounded-2xl p-3">
            <% if category.image.present? %>
                <p><%= link_to image_tag(category.image, class:'m-auto h-36') , category %></p>
            <% end %>
            <p class="text-center text-2xl text-blue-400 hover:text-blue-500 hover:font-bold">
                <%= link_to category.name, category%>
            </p>
        </div>
    <% end %>
</div>