@tailwind base;
@tailwind components;
@tailwind utilities;

.webkit-overflow-scrolling {
  -webkit-overflow-scrolling: touch;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}