<h1 class='text-3xl text-center mb-5'><%= @category.name%> Products</h1>
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 lg:gap-4">
<% @products.each do |product| %>
  <%= render "products/product", product: product %>
<%end%>
</div>
<div class="text-center text-2xl mt-10">
  <%= paginate @products %>
</div>