<p class="mb-5">Searching result for: <span class="text-red-400"><%= params[:keywords] %></span> in <span class="text-red-400"><%= params[:category] %></span> category</p>
<div class="grid grid-cols-4 gap-4">
<% @products.each do |product| %>
  <%= render "product", product: product %>
<%end%>
</div>
<div class="text-center text-2xl mt-10">
  <%= paginate @products %>
</div>
